@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
.nav {
 display: flex;
 padding: 10px;
 align-items: center;
 font-family : 'Montserrat';
}
.nav a {
 margin-right: 10px;
 text-decoration : none;
 font-weight : 400;
 letter-spacing : -0.5px;
}
.nav .logo {
 font-weight : 800;
}

input, button {
 padding : 8px 13px;
 margin-top : 5px;
 border : 1px solid grey;
 border-radius : 4px;
 vertical-align : middle;
}
button {
 background : black;
 color : white;
 border : none;
}
input {
 display : block;
}

.card {
 margin : 30px auto;
 display : flex;
}
.card img {
 width : 150px;
 margin-right : 20px;
}
table {
 margin: auto;
 width: 700px;
 border-radius: 5px;
 border-collapse: collapse;
 border-top: none;
}
.header {
 background-color: rgb(218, 231, 255);
 text-align: center;
}
.table td, .table th {
 border-bottom: 1px lightgray solid;
 height: 30px;
 font-size: 14px;
}
.num {
 width: 50px;
}
.title {
 width: 500px;
}
.body {
 text-align: center;
}
.body .title {
 text-align: left;
}

.detail {
  text-align : center;
}
.detail img{
  max-width : 30%;
  display : block;
  margin : auto;
}


/*에러페이지 */
.my-div {
  border : 1px solid blue;
  text-align : center;
  padding : 100px 0;
}