.card {
 margin : 30px auto;
 display : flex;
}
.card img {
 width : 150px;
 margin-right : 20px;
}
table {
 margin: auto;
 width: 700px;
 border-radius: 5px;
 border-collapse: collapse;
 border-top: none;
}
.header {
 background-color: rgb(218, 231, 255);
 text-align: center;
}
.table td, .table th {
 border-bottom: 1px lightgray solid;
 height: 30px;
 font-size: 14px;
}
.num {
 width: 50px;
}
.title {
 width: 500px;
}
.body {
 text-align: center;
}
.body .title {
 text-align: left;
}

