<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href=" /main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>

<div th:replace="~{nav.html::navbar}"></div>

<div class = "card" th:each="i :${items}">
    <!--  타임리프 반복문 th:each="작명 :${서버에서 보낸 변수명} 하면 th가 붙은곳을 item갯수만큼 복붙해줌 -->
    <img src="https://placehold.co/300">

  <div><a th:href="@{'/detail/' + ${i.id} }">
      <!-- items.get(0)의 줄임 = items[0]-->
     <h4 th:text="${i.title}" >바지</h4></a>
        <p th:text="${i.price + '원'}" >7억</p>
      <a href="/edit/7">수정</a>
      <span th:onclick="fetch('/itemDelete?id=[[${i.id}]]', { method : 'DELETE' } )
        .then(r => r.text())
        .then((a) => {
        console.log(a);
        location.reload();
        })
        ">🗑️</span>

    </div>
</div>
<button class="btn">버튼</button>
<button class="btn">버튼</button>
<!--
<div class = "card">
    <img src="https://placehold.co/300">
    <div>
        <h4 th:text="${items[1].title}">바지</h4>
        <p th:text="${items.get(1).price}">7억</p>
    </div>

</div>
-->
<script>

    document.querySelectorAll('.btn')[0].addEventListener('click',function(){
       fetch('/test1',{
       method : 'POST',
       headers : { 'Content-Type' : 'application/json' },
       body : JSON.stringify({name : 'kim'})
       })
    })
    document.querySelectorAll('.btn')[0].addEventListener('click',function(){
        fetch('/test2?name=kim&age=20')
    })

</script>
</body>
</html>